.pdx-tool-selector {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  &:has(img) {
    padding: 8px;
  }

  --left-color: oklch(var(--lch-red) / 0);
  --right-color: oklch(var(--lch-blue) / 0);

  background: linear-gradient(to right in oklab, var(--left-color) 0%, var(--right-color) 100%);

  box-shadow: inset 0 0 3px 3px #111;

  &.pdx-tool-selector--left {
    --left-color: oklch(var(--lch-red) / 0.75);
  }

  &.pdx-tool-selector--right {
    --right-color: oklch(var(--lch-blue) / 0.75);
  }
}
