.text-center {
  text-align: center;
}

.text-title {
  font-size: 17px;
  line-height: 24px;
  font-variant-caps: small-caps;
  font-weight: 500;
  letter-spacing: 0.025em;
}

.text-body {
  font-size: 16px;
  line-height: 20px;
}

.text-detail {
  font-size: 14px;
  line-height: 20px;
  color: #ccc;
  font-variant-caps: small-caps;
  letter-spacing: 0.025em;
}
